# Created by .ignore support plugin (hsz.mobi)
.DS_Store
node_modules
/dist
/src/.entry
yarn.lock
package-lock.json

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

*.bat
